/* mini-normalize css */
*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}


html,body{
  height: 100%;
  position:relative;
}

body{
  display:flex;
  flex-direction:column;
  background: url("https://sel486.neocities.org/backgrounds/back.jpg");
}

#bottom-container{
  display:flex;
  position:absolute;
  bottom: 0;
  gap: 20px;
  width: 100%;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.2s;
}

input[type="text"]:focus {
  border-color: #007BFF; /* Change the border color when the input is focused */
}

input[type="submit"] {
  width: 150px;
  background-color: #007BFF; /* Background color for the button */
  color: #fff; /* Text color for the button */
  padding: 10px 20px; /* Adjust the padding to control button size */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

input[type="submit"]:hover {
  background-color: #0056b3; /* Change the background color on hover */
}

